.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.submit-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.update-status {
  margin-left: 10px;
  font-size: 13px;
  transition: opacity 0.3s ease;
}

.create-btn{
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}